<% if @user.errors.any? %>
<ul class="views">
  <% @user.errors.full_messages.each do |error| %>
    <li class="error"><%= error %></li>
  <% end %>
</ul>
<% end %>
<section class="banner square">
  <h1>Sign in!</h1>
  <h2>Great things await!</h2>
<%= form_for @user, url: sign_up_path do |f| %>
  <ul class="row forms">
    <li class="col-md-4"><%= f.label :email %></li>
    <li class="col-md-8"><%= f.email_field :email %></li>
    <li class="col-md-4"><%= f.label :password %></li>
    <li class="col-md-8"><%= f.password_field :password %></li>
    <li class="col-md-4"><%= f.label :password_confirmation %></li>
    <li class="col-md-8"><%= f.password_field :password_confirmation %></li>
    </ul>
  <%= f.submit "Create your account!", class: :redbtn %>
<% end %>
